/* ######################################################## */
.header {
    height: var(--heightHeader);
    background-color: var(--bgColorHeaderDay);
    display: flex;
    border-bottom: solid 6px var(--borderColorHeaderFooter);
}

.innerHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    color: var(--colorHeader);
    font-size: 40px;
    text-align: center;
}

h1 {
    font-size: clamp(2rem, 6vw, 5rem);
    cursor: pointer;
}

/* ######################################################## */
.main {
    background-color: var(--bgColorMainDay);
    /* height: calc(100dvh - var(--heightHeader) - var(--heightFooter)); */
    flex: 1;
    /* important for scrollability of main */
    width: 100%;
    overflow-y: auto;
    /* important for scrollability of main */
}

.content {
    color: var(--colorMain);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(16px, 1vw, 40px);
    padding: clamp(16px, 6vw, 32px) 0;
}

.meine-tabelle {
    border-collapse: collapse;
}

.meine-tabelle,
.meine-tabelle td,
.meine-tabelle th {
    border: 1px solid black;
    font-size: clamp(16px, 1.6vw, 20px);
}

.meine-tabelle td,
.meine-tabelle th {
    padding: 8px;
}

/* ######################################################## */
.imgCamera {
    width: clamp(200px, 30vw, 360px);
    border-radius: 16px;
    background-color: var(--bgColorImg);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: clamp(12px, 3%, 32px) clamp(12px, 3%, 32px) clamp(10px, 6%, 16px) clamp(12px, 3%, 32px);
}

.imgCamera:hover {
    background: var(--bgColorImgHover);
}

.imgCamera img {
    width: 100%;
    border-radius: 12px;
    transition: transform 0.3s ease;
}

.imgCamera:hover img {
    transform: scale(0.97);
}

.imgCamera figcaption {
    margin-top: clamp(10px, 6%, 16px);
    text-align: center;
    font-size: 16px;
    font-weight: 800;
    color: var(--colorFigcaption);
}

/* ######################################################## */
nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    list-style: none;
    padding: 0;
}

.btn {
    width: 200px;
    background-color: var(--bgColorBtn);
    color: var(--colorMain);
    font-weight: 700;
    border: none;
    padding: 10px 18px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.2s ease;
}

.btn:hover {
    background-color: var(--bgColorImgHover);
    transform: scale(0.97);
}

.backBtn {
    background: var(--bgColorBackBtn);
}

.marBtn {
    margin-top: 50px;
    margin-bottom: 20px;
}

.bg {
    background-color: var(--bgColorBtn);
}

/* ######################################################## */
.content-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    background-color: var(--bgColorDynamicContent);
    width: max-content;
    max-width: calc(100% - 40px);
    border-radius: 16px;
    margin: 24px auto;
    padding: 20px;
    font-size: 20px;
    gap: 10px;
    overflow-wrap: anywhere;
}

h2 {
    padding: 16px;
    overflow-wrap: anywhere;
}

h3 {
    padding-top: 12px;
    overflow-wrap: anywhere;
}


/* ######################################################## */
.footer {
    height: var(--heightFooter);
    background-color: var(--bgColorFooterDay);
    display: flex;
    align-items: center;
    border-top: solid 6px var(--borderColorHeaderFooter);
}

.innerFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    font-size: 24px;
    color: var(--colorFooter);
}

.innerFooter a {
    text-decoration: none;
    color: var(--colorFooter);
}

.created span {
    cursor: pointer;
}

/* ######################################################## */
.d_none {
    display: none;
}

/* for favicon */
.badge {
    width: 16px;
    height: 16px;
}