/* ######################################################## */
.header {
    height: var(--heightHeader);
    background-color: var(--backgroundColorHeaderDay);
    display: flex;
    border-bottom: solid 6px var(--borderColorHeaderFooter);
}

.innerHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    color: var(--colorHeader);
    font-size: 40px;
    text-align: center;
}

h1 {
    cursor: pointer;
}

/* ######################################################## */
.main {
    background-color: var(--backgroundColorMainDay);
    min-height: calc(100dvh - var(--heightHeader) - var(--heightFooter));
    width: 100%;
}

.content {
    color: var(--colorMain);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;    
    overflow-y: auto; 
}

/* ######################################################## */
.imgCamera {
    width: 300px;
    border-radius: 16px;
    background-color: var(--backgroundColorImg);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
    padding: 32px 32px 16px 32px;
}

.imgCamera:hover {
    background: var(--backgroundColorImgHover);
}

.imgCamera img {
    width: 100%;
    border-radius: 12px;
    transition: transform 0.3s ease;
}

.imgCamera:hover img {
    transform: scale(0.97);
}

.imgCamera figcaption {
    margin-top: 16px;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
}

/* ######################################################## */
nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    list-style: none;
    padding: 0;
}

.btn {
    width: 200px;
    background-color: var(--backgroundColorImg);
    color: var(--colorMain);
    font-weight: 700;
    border: none;
    padding: 10px 18px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.2s ease;
}

.btn:hover {
    background-color: var(--backgroundColorImgHover);
    transform: scale(0.97);
}

.marBtn {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* ######################################################## */
.content-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    width: 100%;
    margin-top: 24px;
    font-size: 20px;
    gap: 10px;
}

h2 {
    padding: 16px;
}

h3 {
    padding-top: 12px;
}

/* ######################################################## */
.footer {
    height: var(--heightFooter);
    background-color: var(--backgroundColorFooterDay);
    display: flex;
    align-items: center;
    border-top: solid 6px var(--borderColorHeaderFooter);
}

.innerFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    font-size: 24px;
    color: var(--colorFooter);
}

.innerFooter a {
    text-decoration: none;
    color: var(--colorFooter);
}

.created span {
    cursor: pointer;
}

/* ######################################################## */
.d_none {
    display: none;
}

