/* ######################################################## */
.header {
    height: var(--heightHeader);
    background-color: var(--backgroundColorHeaderDay);
    display: flex;
    border-bottom: solid 6px var(--borderColorHeaderFooter);
}

.innerHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    color: var(--colorHeader);
    font-size: 40px;
    text-align: center;
}


/* ######################################################## */
.main {
    background-color: var(--backgroundColorMainDay);
    min-height: calc(100dvh - var(--heightHeader) - var(--heightFooter));
    width: 100%;
}

.content {
    display: flex;
    justify-content: center;
}

.content img {
    width: 250px;
    border-radius: 16px;
    margin-top: 32px;
}

/* ######################################################## */
.footer {
    height: var(--heightFooter);
    background-color: var(--backgroundColorFooterDay);
    display: flex;
    align-items: center;
    border-top: solid 6px var(--borderColorHeaderFooter);
}

.innerFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    font-size: 24px;
    color: var(--colorFooter);
}

.innerFooter a {
    text-decoration: none;
    color: var(--colorFooter);
}

.created span {
    cursor: pointer;
}

.footerFixing {
    position: fixed;
    left: 0;
    bottom: 0;
}

.d_none {
    display: none;
}

button:hover,
button:focus {
    opacity: 0.8;
}