
:root {
    /* Variable for max. Content width  */
    --maxWidth: 1440px;
    --heightHeader: 100px;
    --heightFooter: 100px;

    /* Variables for colors */    
    --colorHeader: black; /*Font Color Header*/
    --bgColorHeaderDay: #FFDD00; /*Header Day*/
    --bgColorHeaderDark: #1c5378; /*Header Dark*/

    --colorMain: white; /*Font Color Main*/
    --bgColorMainDay: #0A0203; /*Main Day*/
    --bgColorMainDark: #3a3a3a; /*Main Dark*/

    --colorFooter: black; /*Font Color Footer*/
    --bgColorFooterDay: #FFDD00; /*Footer Day*/
    --bgColorFooterDark: #0b450f; /*Footer Dark*/ 

    --borderColorHeaderFooter: #a98d8d7a; /*Border Line Header/Footer*/

    --colorFigcaption: #D4AF37;
    --bgColorImg: #1F191A; /*around the picture*/
    --bgColorImgHover: #322A18; /*around the picture hover*/
    --bgColorBtn: #1F191A;
    --bgColorDynamicContent: rgb(100, 90, 30);
}
